ccsm==0.9.13.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.3.7
compizconfig-python==0.9.13.1
distlib==0.2.6
Django==1.11.28
django-rest-auth==0.9.5
djangorestframework==3.9.4
django-tables2==1.14.2
dnspython==1.15.0
gyp==0.1
html5lib==0.999999999
idna==2.8
lxml==4.2.1
numpy==1.16.3
psutil==5.4.2
psycopg2==2.7.4
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyparted==3.11.1
pyTelegramBotAPI==3.6.6
python-apt==1.6.4
pytz==2019.1
pyxdg==0.25
requests==2.21.0
scipy==1.2.1
setproctitle==1.1.10
six==1.12.0
urllib3==1.24.3
virtualenv==15.1.0
webencodings==0.5
